
<div class="lead">
  <div class="logo">{% include icons/logo.html %}</div> 
  <div class="tedi"><img src="/images/nrobot1.gif" alt="tedi"></div> 
    <h1 class="headline_1">Test-Editor-Web</h1>
    <div id="headline_2">&laquo; User Acceptance Tests</div>
    <div id="headline_3">as they were meant to be &raquo;</div>
    <p class="phrase_main">Designed to bridge the gap between domain experts, 
      testers, and developers, <em>Test-Editor-Web</em> is a modern application that integrates well with container technologies. 
      It is dedicated to automate the tip of the testing pyramid&mdash;acceptance testing&mdash;to enable automated product releases and provide confidence in reliable product operation.
    </p>
  </div>
  <div class="get-button-big">
    <a class="web-button" href="/te_markdown/download">
        <i class="fa fa-cloud-download-alt"></i> Get Test-Editor-Web
    </a>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span4">
      <div class="icons">{% include icons/test_first_icon.html %}</div>
      <h2>Test First</h2>
      <p> Write test specifications <em>before</em> the actual feature is implemented. 
        Make your tests an integral element of your agile feature development.
      </p>
    </div>
    <div class="span4">
      <div class="icons">{% include icons/your_domain_icon.html %}</div>
      <h2>Test <em>Your</em> Domain</h2>
      <p> Use a language designed to enable <em>domain experts</em> to write tests. Define the vocabulary and abstractions of your tests
          yourself and specify readable, comprehensible, and reusable tests.
      </p>
    </div>
    <div class="span4">
       <div class="icons">{% include icons/your_application_icon.html %}</div>
      <h2>Test <em>Your</em> Application</h2>
      <p> Test different technologies, from web applications up to mainframe applications.
          Use the Test-Editor-Web to test your application, <em>regardless of technology</em>.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="get-button">
          <a class="web-button-grey" href="/te_markdown/all#test-first">Learn More ...</a> 
      </div>
    </div>
    <div class="span4">
        <div class="get-button">
            <a class="web-button-grey" href="/te_markdown/all#test-your-domain">Learn More ...</a>
          </div>  
    </div>
    <div class="span4">
        <div class="get-button">
              <a class="web-button-grey" href="/te_markdown/all#test-application">Learn More ...</a>
          </div>
    </div>
  </div>
    <hr>
    <div class="row-fluid">
        <div class="span4">
          <div class="icons">{% include icons/containerized_icon.html %}</div>
          <h2>Test Containerized</h2>
          <p>Have automated test executions that run locally exactly as they run in the cloud.</p>
        </div>
        <div class="span4">
          <div class="icons">{% include icons/your_browser_icon.html %}</div>
          <h2>Test in Your Browser</h2>
          <p> Make use of a feature-rich editor that <em>lives in the browser</em>.
              Specify and run your tests without the need for locally installed fat clients.
          </p>
        </div>
        <div class="span4">
          <div class="icons">{% include icons/continuously_icon.html %}</div>
          <h2>Test Continuously</h2>
          <p>Seamlessly integrate your tests into existing CI pipelines without any hassle.</p>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <div class="get-button">
          <a class="web-button-grey" href="/te_markdown/all#test-containerized">Learn More ...</a> 
        </div>
      </div>
      <div class="span4">
        <div class="get-button">
          <a class="web-button-grey" href="/te_markdown/all#test-browser">Learn More ...</a>
        </div>
      </div>
      <div class="span4">
        <div class="get-button">
          <a class="web-button-grey" href="/te_markdown/all#test-continuously">Learn More ...</a>
        </div>
      </div>
  </div>
    <hr>
