/**
 * Site header
 */
 .site-header {
    border-top: 1px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
  
    // Positioning context for the mobile navigation icon
    position: relative;
  }
  
  .site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
  
    &,
    &:visited {
      color: $grey-color-dark;
    }
  }
  
  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $text-color;
      line-height: $base-line-height;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
  
  
  
  /**
   * Site footer
   */
  .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
  }
  
  .footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }
  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }
  
  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
  }
  
  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
  
  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }
  
    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  /**
   * Logo on landing page
   */
   .logo {
    float: left;
    margin-right: 25px;
    margin-bottom: 125px;
   }

  /**
   * Tedi the roboter on landing page
   */
   .tedi {
    width: 240px;
    height: 350px; 
    float: right;
    margin-left: 2px;
   }

  /**
   * icons on landing page
   */
   .icons {
    float: left;
    margin-right: 10px;
   }

     /**
   * News Feed Logo on home.html
   */
   .icon_newsfeed {
    float: left;
    margin-right: 5px;
    margin-top: 6px;
   }

        /**
   * New mail icon on home.html
   */
   .icon_mail {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
   }
  
  /**
  * Headline at landing page
  */
  .headline_1 {
    margin-top: 5px;
    font-size: 3.0em;
    text-align: center;
  }

  #headline_2 {
    font-size: 2.0em;
    color: #828282;
    border-left: none;
    padding-left: 15px;
    margin-left: 250px;
    letter-spacing: -1px;
    font-style: italic;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-align: center;
  }
  #headline_3 {
    font-size: 2.0em;
    color: #828282;
    border-left: none;
    padding-left: 90px;
    letter-spacing: -1px;
    font-style: italic;
    margin-bottom: 15px;
    margin-left: 250px;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-align: center;
  }

  .phrase_main {
    font-size: 1.3em;
    text-align: justify;
    text-justify: auto;
  }

  hr {
    margin: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
  }

// ###################################################################
.row-fluid {
  width:100%;
  *zoom:1
 }
 .row-fluid:before,.row-fluid:after {
  display:table;
  line-height:0;
  content:""
 }
 .row-fluid:after {
  clear:both
 }
 .row-fluid [class*="span"] {
  display:block;
  float:left;
  width:100%;
  min-height:30px;
  margin-left:2.127659574468085%;
  *margin-left:2.074468085106383%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
 }
 .row-fluid [class*="span"]:first-child {
  margin-left:0
 }
 .row-fluid .controls-row [class*="span"]+[class*="span"] {
  margin-left:2.127659574468085%
 }
 .row-fluid .span12 {
  width:100%;
  *width:99.94680851063829%
 }
 .row-fluid .span11 {
  width:91.48936170212765%;
  *width:91.43617021276594%
 }
 .row-fluid .span10 {
  width:82.97872340425532%;
  *width:82.92553191489361%
 }
 .row-fluid .span9 {
  width:74.46808510638297%;
  *width:74.41489361702126%
 }
 .row-fluid .span8 {
  width:65.95744680851064%;
  *width:65.90425531914893%
 }
 .row-fluid .span7 {
  width:57.44680851063829%;
  *width:57.39361702127659%
 }
 .row-fluid .span6 {
  width:48.93617021276595%;
  *width:48.88297872340425%
 }
 .row-fluid .span5 {
  width:40.42553191489362%;
  *width:40.37234042553192%
 }
 .row-fluid .span4 {
  width:31.914893617021278%;
  *width:31.861702127659576%
 }
 .row-fluid .span3 {
  width:23.404255319148934%;
  *width:23.351063829787233%
 }
 .row-fluid .span2 {
  width:14.893617021276595%;
  *width:14.840425531914894%
 }
 .row-fluid .span1 {
  width:6.382978723404255%;
  *width:6.329787234042553%
 }
 .row-fluid .offset12 {
  margin-left:104.25531914893617%;
  *margin-left:104.14893617021275%
 }
 .row-fluid .offset12:first-child {
  margin-left:102.12765957446808%;
  *margin-left:102.02127659574467%
 }
 .row-fluid .offset11 {
  margin-left:95.74468085106382%;
  *margin-left:95.6382978723404%
 }
 .row-fluid .offset11:first-child {
  margin-left:93.61702127659574%;
  *margin-left:93.51063829787232%
 }
 .row-fluid .offset10 {
  margin-left:87.23404255319149%;
  *margin-left:87.12765957446807%
 }
 .row-fluid .offset10:first-child {
  margin-left:85.1063829787234%;
  *margin-left:84.99999999999999%
 }
 .row-fluid .offset9 {
  margin-left:78.72340425531914%;
  *margin-left:78.61702127659572%
 }
 .row-fluid .offset9:first-child {
  margin-left:76.59574468085106%;
  *margin-left:76.48936170212764%
 }
 .row-fluid .offset8 {
  margin-left:70.2127659574468%;
  *margin-left:70.10638297872339%
 }
 .row-fluid .offset8:first-child {
  margin-left:68.08510638297872%;
  *margin-left:67.9787234042553%
 }
 .row-fluid .offset7 {
  margin-left:61.70212765957446%;
  *margin-left:61.59574468085106%
 }
 .row-fluid .offset7:first-child {
  margin-left:59.574468085106375%;
  *margin-left:59.46808510638297%
 }
 .row-fluid .offset6 {
  margin-left:53.191489361702125%;
  *margin-left:53.085106382978715%
 }
 .row-fluid .offset6:first-child {
  margin-left:51.063829787234035%;
  *margin-left:50.95744680851063%
 }
 .row-fluid .offset5 {
  margin-left:44.68085106382979%;
  *margin-left:44.57446808510638%
 }
 .row-fluid .offset5:first-child {
  margin-left:42.5531914893617%;
  *margin-left:42.4468085106383%
 }
 .row-fluid .offset4 {
  margin-left:36.170212765957444%;
  *margin-left:36.06382978723405%
 }
 .row-fluid .offset4:first-child {
  margin-left:34.04255319148936%;
  *margin-left:33.93617021276596%
 }
 .row-fluid .offset3 {
  margin-left:27.659574468085104%;
  *margin-left:27.5531914893617%
 }
 .row-fluid .offset3:first-child {
  margin-left:25.53191489361702%;
  *margin-left:25.425531914893618%
 }
 .row-fluid .offset2 {
  margin-left:19.148936170212764%;
  *margin-left:19.04255319148936%
 }
 .row-fluid .offset2:first-child {
  margin-left:17.02127659574468%;
  *margin-left:16.914893617021278%
 }
 .row-fluid .offset1 {
  margin-left:10.638297872340425%;
  *margin-left:10.53191489361702%
 }
 .row-fluid .offset1:first-child {
  margin-left:8.51063829787234%;
  *margin-left:8.404255319148938%
 }
 [class*="span"].hide,.row-fluid [class*="span"].hide {
  display:none
 }
 [class*="span"].pull-right,.row-fluid [class*="span"].pull-right {
  float:right
 }  
  
/* Centers the `get` button with the image.
 * 296px is the width of the image.
 */
 @media (min-width: 980px) {
  .get-button-big {
    max-width: 296px;
    margin-left: 21px;
  }
  .get-button {
    max-width: 296px;
    text-align: left;
  }
}

a.web-button {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #008000;
  background-image: linear-gradient(to bottom, #62c462,#008000);
  background-repeat: repeat-x;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  padding: 18px 20px;
  font-size: 16.5px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.25);
  text-decoration: none;
}
a.web-button-grey {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008000;
  background-image: linear-gradient(to bottom, #62c462,#008000);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 10px 12px;
  font-size: 14.0px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

a.reduced-padding {
  padding: 3px 7px;
}

a.web.button:hover {
  .web-button:hover, .web-button:focus, .web-button:active, .web-button.active, .web-button.disabled, .web-button[disabled] {
    color: #fff;
  }
}

dt {
  font-weight: bold;
  font-size: 18px;
}

dd {
  margin-bottom: 1ex
}

// ##################################################################

  /**
   * Page content
   */
  .page-content {
    padding: $spacing-unit 0;
    flex: 1;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }
  
  
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
  
    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
  
    h2 {
      @include relative-font-size(2);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }
    }
  
    h3 {
      @include relative-font-size(1.625);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }
  }
